/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #646464;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav a,
nav a:link,
nav a:visited {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: #E0FF8D;
  color: #22222299;
  font-size: 2em;
}



nav a:hover,
nav a:focus {
  background-color: #968DFF;
  color: white;
}

/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------- My Styles-------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* Mobile */
nav {
  margin: 2.5em;
}

ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

ul li {
  flex: 1;
}

.im{
  font-size:1.5em;
  padding: unset;
  color: #222222;
}

.sm {
  margin-top: 1em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.25em;
  justify-items: center;
  justify-content: center;
}

/* Tablet */

@media screen and (min-width: 45em) {

  nav {
    margin: 2em;
  }

  ul {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
  }

}

/* Desktop */

@media screen and (min-width: 60em) {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4.5em;
    
  }
  ul li {
    flex: 1;
  }

  .sm {
    justify-content: right;
    width:200px;
    display: flex;
    flex-wrap: wrap-reverse;
    float: right;
  }

}

@media (prefers-color-scheme: light) {

  body {
    line-height: 1;
    background-color: #E0FF8D;
  }

  nav a,
  nav a:link,
  nav a:visited {

    background-color: #968DFF;
    color: white;
  }
  
  nav a:hover,
  nav a:focus {
    background-color: #646464;
    color: white;
  }  
  
  .im {
      color: white;
  }

}